* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
:root {
  --Primary-bg: #24242e;
  --white: #fff;
  --box-color: #7b76ca;
}
/* Header Section */
#header {
  width: 100%;
  height: 75vh;
  background-color: var(--Primary-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: var(--white);
}
/* Logo */
.logo a {
  height: 8rem;
  width: 8rem;
  font-size: 7rem;
  margin-top: 5rem;
  padding: 0;
  font-weight: 900;
  border: 4px solid var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: var(--white);
}
/* heading-content */
.heading-content h1 {
  font-size: 5rem;
  text-transform: uppercase;
  padding-bottom: 3rem;
}
.heading-content p {
  font-size: 1.2rem;
  line-height: 1.7;
}
/* Icon */
.icon {
  margin-bottom: 3rem;
  border: 1px solid var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}
.icon img {
  width: 1.5rem;
  padding: 2px;
}
/* End Header Section */
/* About section  */
#about {
  width: 100%;
  min-height: 100vh;
  background-color: var(--white);
}
/* about-content */
.about-content {
  max-width: 58rem;
  margin: 0 auto;
  text-align: center;
}
.about-content p {
  font-size: 2rem;
  line-height: 1.5;
  color: var(--Primary-bg);
}
.first-para {
  padding: 6rem 0 3rem;
}
.second-para {
  padding: 0rem 0 5rem;
}
/* What-do */
.what-do h1 {
  text-align: center;
  font-size: 5rem;
  color: var(--Primary-bg);
  text-transform: uppercase;
}
.what-do--content {
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 5rem;
  padding-bottom: 4rem;
  line-height: 1.5;
  /* gap: .5rem; */
  color: var(--Primary-bg);
}
.what-do--content h4 {
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.what-do--content p {
  font-size: 1.1rem;
  text-align: justify;
}
/* about-section End */
